body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:-22px;
    top:-170px;
    width:1000px;
    height:1000px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1000px;
    height:1000px;
}

.u1 {
    position:absolute;
    left:2px;
    top:492px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../BG_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:89px;
    top:78px;
    width:769px;
    height:481px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:775px;
    height:487px;
}

.u3 {
    position:absolute;
    left:2px;
    top:232px;
    width:765px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u5 {
    position:absolute;
    left:89px;
    top:78px;
    width:772px;
    height:481px;
    overflow:hidden;
}

#pd1u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:772px;
    height:481px;
    
}

.u6_container {
    position:absolute;
    left:-58px;
    top:2px;
    width:970px;
    height:479px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:970px;
    height:479px;
}

.u7 {
    position:absolute;
    left:2px;
    top:232px;
    width:966px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:772px;
    height:481px;
    
}

.u8_container {
    position:absolute;
    left:-177px;
    top:1px;
    width:949px;
    height:513px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:949px;
    height:513px;
}

.u9 {
    position:absolute;
    left:2px;
    top:248px;
    width:945px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u10 {
    position:absolute;
    left:613px;
    top:345px;
    width:11px;
    height:11px;
    overflow:hidden;
}

#pd0u10 {
    position:absolute;
    left:0px;
    top:0px;
    width:11px;
    height:11px;
    
}

.u11_normal {
    background-image: url('../Edit_Position_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:0px;
    top:0px;
    width:10px;
    height:10px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:10px;
    height:10px;
}

.u12 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../Edit_Position_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:749px;
    top:520px;
    width:96px;
    height:29px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:102px;
    height:35px;
}

.u14 {
    position:absolute;
    left:2px;
    top:6px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../Edit_Position_files/u13_normal.png');
}

.u15_container {
    position:absolute;
    left:654px;
    top:520px;
    width:96px;
    height:29px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:102px;
    height:35px;
}

.u16 {
    position:absolute;
    left:2px;
    top:6px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u17 {
    position:absolute;
    left:593px;
    top:357px;
    width:51px;
    height:57px;
    overflow:hidden;
}

#pd0u17 {
    position:absolute;
    left:0px;
    top:0px;
    width:51px;
    height:57px;
    
}

.u18_normal {
    background-image: url('../Edit_Position_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:56px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:56px;
}

.u19 {
    position:absolute;
    left:2px;
    top:20px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../Edit_Position_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:803px;
    top:86px;
    width:52px;
    height:52px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:58px;
    height:58px;
}

.u21 {
    position:absolute;
    left:2px;
    top:18px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../Edit_Position_files/u20_normal.png');
}

.u22_container {
    position:absolute;
    left:805px;
    top:150px;
    width:52px;
    height:52px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:58px;
    height:58px;
}

.u23 {
    position:absolute;
    left:2px;
    top:18px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../Edit_Position_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:808px;
    top:152px;
    width:50px;
    height:50px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u25 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../Edit_Position_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:804px;
    top:87px;
    width:50px;
    height:50px;
}

#u26_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u27 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u28 {
    position:absolute;
    left:706px;
    top:265px;
    width:11px;
    height:11px;
    overflow:hidden;
}

#pd0u28 {
    position:absolute;
    left:0px;
    top:0px;
    width:11px;
    height:11px;
    
}

.u29_normal {
    background-image: url('../Edit_Position_files/u11_normal.png');
}

.u29_container {
    position:absolute;
    left:0px;
    top:0px;
    width:10px;
    height:10px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:10px;
    height:10px;
}

.u30 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u31 {
    position:absolute;
    left:782px;
    top:372px;
    width:11px;
    height:11px;
    overflow:hidden;
}

#pd0u31 {
    position:absolute;
    left:0px;
    top:0px;
    width:11px;
    height:11px;
    
}

.u32_normal {
    background-image: url('../Edit_Position_files/u11_normal.png');
}

.u32_container {
    position:absolute;
    left:0px;
    top:0px;
    width:10px;
    height:10px;
}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:10px;
    height:10px;
}

.u33 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u34 {
    position:absolute;
    left:602px;
    top:190px;
    width:11px;
    height:11px;
    overflow:hidden;
}

#pd0u34 {
    position:absolute;
    left:0px;
    top:0px;
    width:11px;
    height:11px;
    
}

.u35_normal {
    background-image: url('../Edit_Position_files/u11_normal.png');
}

.u35_container {
    position:absolute;
    left:0px;
    top:0px;
    width:10px;
    height:10px;
}

#u35_img {
    position:absolute;
    left:0px;
    top:0px;
    width:10px;
    height:10px;
}

.u36 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../Edit_Position_files/u20_normal.png');
}

.u37_container {
    position:absolute;
    left:805px;
    top:215px;
    width:52px;
    height:52px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:58px;
    height:58px;
}

.u38 {
    position:absolute;
    left:2px;
    top:18px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../Edit_Position_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:807px;
    top:218px;
    width:50px;
    height:50px;
}

#u39_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u40 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../Edit_Position_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:303px;
    top:520px;
    width:140px;
    height:29px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:35px;
}

.u42 {
    position:absolute;
    left:2px;
    top:6px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../Edit_Position_files/u41_normal.png');
}

.u43_container {
    position:absolute;
    left:463px;
    top:520px;
    width:140px;
    height:29px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:35px;
}

.u44 {
    position:absolute;
    left:2px;
    top:6px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../Edit_Position_files/u41_normal.png');
}

.u45_container {
    position:absolute;
    left:143px;
    top:520px;
    width:140px;
    height:29px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:35px;
}

.u46 {
    position:absolute;
    left:2px;
    top:6px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:153px;
    top:526px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:311px;
    top:526px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:470px;
    top:526px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:259px;
    top:523px;
    width:16px;
    height:10px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u51 {
    position:absolute;
    left:259px;
    top:536px;
    width:16px;
    height:10px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u52 {
    position:absolute;
    left:420px;
    top:523px;
    width:16px;
    height:10px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u53 {
    position:absolute;
    left:420px;
    top:536px;
    width:16px;
    height:10px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u54 {
    position:absolute;
    left:582px;
    top:523px;
    width:16px;
    height:10px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u55 {
    position:absolute;
    left:582px;
    top:536px;
    width:16px;
    height:10px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u56_normal {
    background-image: url('../Edit_Position_files/u56_normal.png');
}

.u56_container {
    position:absolute;
    left:937px;
    top:91px;
    width:138px;
    height:160px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:144px;
    height:166px;
}

.u57 {
    position:absolute;
    left:2px;
    top:72px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:942px;
    top:108px;
    width:131px;
    height:128px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

